*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#d6d1c3;
padding:30px;
font-family:'Inter', sans-serif;
}

.cv{
max-width:1100px;
margin:auto;
border:2px solid #6e6a61;
background:#e3ded1;
}

.row{
display:flex;
border-bottom:2px solid #6e6a61;
}

.header{
height:300px;
}

.avatar-box{
width:35%;
border-right:2px solid #6e6a61;
position:relative;
display:flex;
align-items:center;
justify-content:center;
}

.grid{
    width:240px;
    height:240px;
    position:relative;
    z-index:1;

    background-image: 
        linear-gradient(#9c978e 1px, transparent 1px),
        linear-gradient(90deg,#9c978e 1px, transparent 1px);
    background-size:30px 30px;
}
.star{
    position:absolute;
    z-index:4;
    width:40px;
    height:40px;

    background: radial-gradient(circle at center, #5b574f 0%, #3f3c35 60%);

    clip-path:polygon(
        50% 0%,
        62% 38%,
        100% 50%,
        62% 62%,
        50% 100%,
        38% 62%,
        0% 50%,
        38% 38%
    );

    filter: drop-shadow(0 0 6px rgba(0,0,0,0.3));
}

.s1{
    top:-20px;
    left:-15px;
    width:50px;
    height:50px;
}

.s2{
    top:45%;
    left:8%;
    width:28px;
    height:28px;
}

.s3{
    top:10%;
    right:-10px;
    width:45px;
    height:45px;
}

.avatar-frame{
    position:absolute;
    width:190px;
    height:240px;
    overflow:hidden;
    z-index:3; 
}

@keyframes sparkle{
    from { opacity:0.3; }
    to   { opacity:1; }
}

.avatar-frame{
position:absolute;
width:190px;
height:240px;
overflow:hidden;
}

.avatar-frame img{
width:100%;
height:100%;
 object-fit: contain;
}

.intro{
width:65%;
display:flex;
flex-direction:column;
}

.name-box{
padding:40px;
border-bottom:2px solid #6e6a61;
}

.name-box h1{
font-family:'Cormorant Garamond', serif;
font-size:56px;
letter-spacing:3px;
}

.name-box h3{
margin-top:10px;
font-weight:500;
letter-spacing:1px;
}

.desc-box{
padding:30px 40px;
line-height:1.7;
font-size:14.8px;
}

.middle{
min-height:520px;
display:flex;
align-items:stretch;  
}

.left{
width:40%;
border-right:2px solid #6e6a61;
}

.right{
width:60%;
display:flex;
flex-direction:column;
}

.box{
padding:25px 30px;
 border-bottom: none;
}

.box h2{
margin-bottom:20px;
margin-top: 20px;
font-size:22px;
font-weight: bold;
unicode-bidi: isolate;
}

.year{
font-size:14px;
color:#6e6a61;
margin-bottom:5px;
}

.bold{
font-weight:600;
}

.main{
color:#3d3a34;
}

.skills{
display:grid;
grid-template-columns:1fr 1fr;
gap:30px;
margin-top:20px;
}

.skill{
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
}
.circle{
width:120px;
height:120px;
border-radius:50%;
background:conic-gradient(#4f4d45 calc(var(--percent)*1%), #c9c3b6 0);
position:relative;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.circle::after{
content:'';
position:absolute;
width:80px;
height:80px;
background:#e3ded1;
border-radius:50%;
}

.circle span{
position:absolute;
width:70px;
font-size:13px;
line-height:1.2;
z-index:2;
}

.skill span{
font-size:14px;
text-align:center;
}

.right .box{
flex:1;
display:flex;
flex-direction:column;
}

.timeline{
flex:1;
display:flex;
flex-direction:column;
justify-content:space-between;
}

.timeline .item{
border-left:2px solid #6e6a61;
padding-left:15px;
margin-bottom:25px;
}

.footer{
    padding:25px 30px;
    display:flex;
    align-items:center;
    border-top:1px solid #777;
    border-bottom:1px solid #777;
    position:relative;
    overflow:hidden;
    gap:40px;
}


.title-shape{
    position:relative;
    padding:10px 40px;
    border-right:2px solid #777;
}

.title-shape{
    position:relative;
    padding:10px 40px;
}

.title-shape::before{
    content:"";
    position:absolute;
    inset:0;
    border:1px solid #777;
    border-radius:60px 120px 120px 60px;
    z-index:-1;
}

.contact p{
    margin:6px 0;
    margin-right: 300px;
}

.contact i{
    margin-right:10px;
}

.chevron-group{
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:240px;
    background-image: repeating-linear-gradient(
        135deg,
        transparent 0px,
        transparent 18px,
        #777 18px,
        #777 20px
    );
}

.chevron-group::before,
.chevron-group::after{
    content:"";
}

.chevron-group{
    gap:15px;
}

.chevron-group div{
    width:40px;
    height:80px;
    border:1px solid #777;
    clip-path:polygon(0 0, 100% 50%, 0 100%);
}